* {
	font-family: arial, "微软雅黑";
}

a {
	text-decoration: none;
	color: #808080;
}

body {
	/*width: 200px;
	height: 200px;*/
	background: #F0F0F0;
}

.main_title,
.sub_title {
	text-align: center;
}

.main_title {
	color: darkolivegreen;
}

#saveUrl {
	width: 150px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
}

.logo_middle {
	width: 50px;
}

.header_logo img,
h2 {
	float: left;
	/*background: #000000;*/
	line-height: 50px;
	margin: 0 auto;
}

.header_logo {
	width: 200px;
	margin: 0px auto;
	/*background: #00E8D7;*/
	height: 50px;
	margin-top: 30px;
	margin-bottom: 25px;
}

.wapper {
	border: 1px solid #cacaca;
	border-radius: 10px;
	width: 600px;
	margin: 0 auto;
	clear: both;
	background: #FFFFFF;
	/*min-height:50px ;*/
	padding: 20px;
}

.main {
	/*background: #00E8D7;*/
	padding-bottom: 20px;
}
.main h3{
	color: #777777;
}
#logged{
	display: none;
}
#login{
	width: 100%;
}
footer{
	text-align: center;
	margin:  20px 0;
}
